.Navbar{
    display: flex;
    height: 80px;
    background-color: #00cc99;
    color: #fafafa;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.Logo{
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.Logo:hover{
    color: #effffc;
    cursor: pointer;
}
.Navigation{
    display: flex;
    float: right;
    font-weight: 600;
}
.Navigation{
    color: #effffc;
    cursor: pointer;
}
.Queue{
    margin-right: 50px;
}
.Queue:hover{
    color: #effffc;
    cursor: pointer;
}